In [171]:
import pandas as pd
import numpy as np

In [172]:
df = pd.read_csv("data/europaenergy_today.csv")

# And remove the column with local currency â€“ it is always missing
df = df.drop(['price(currency/mwh)'], axis=1)

In [173]:
df1 = round(df.groupby('country')['price(eur/mwh)'].mean())

In [174]:
df1.columns = ['country', 'price', 'date']
df1

country
Albania               NaN
Austria             112.0
Belgium              68.0
Bosnia and Herz.      NaN
Bulgaria            100.0
Croatia             100.0
Cyprus                NaN
Czech Rep.           89.0
Denmark              58.0
Estonia              56.0
Finland              39.0
France               68.0
Georgia               NaN
Germany              69.0
Greece              218.0
Hungary             102.0
Ireland             100.0
Italy               164.0
Kosovo                NaN
Latvia               56.0
Lithuania            57.0
Luxembourg           69.0
Malta                 NaN
Moldova               NaN
Montenegro            NaN
Netherlands          69.0
North Macedonia       NaN
Norway               59.0
Poland               92.0
Portugal             10.0
Romania             100.0
Serbia              115.0
Slovakia             98.0
Slovenia             99.0
Spain                10.0
Sweden               39.0
Switzerland         133.0
Turkey                NaN
Ukraine               NaN
United Kingdom        NaN
Name: price(eur/mwh), dtype: float64

In [175]:
df1.to_csv('data/today_price_long.csv', index=True, header=True)

In [176]:
df = pd.read_csv('data/today_price_long.csv')
df['date'] = pd.to_datetime('today').strftime("%m/%d/%Y")
df

             country  price(eur/mwh)        date
0            Albania             NaN  01/08/2023
1            Austria           112.0  01/08/2023
2            Belgium            68.0  01/08/2023
3   Bosnia and Herz.             NaN  01/08/2023
4           Bulgaria           100.0  01/08/2023
5            Croatia           100.0  01/08/2023
6             Cyprus             NaN  01/08/2023
7         Czech Rep.            89.0  01/08/2023
8            Denmark            58.0  01/08/2023
9            Estonia            56.0  01/08/2023
10           Finland            39.0  01/08/2023
11            France            68.0  01/08/2023
12           Georgia             NaN  01/08/2023
13           Germany            69.0  01/08/2023
14            Greece           218.0  01/08/2023
15           Hungary           102.0  01/08/2023
16           Ireland           100.0  01/08/2023
17             Italy           164.0  01/08/2023
18            Kosovo             NaN  01/08/2023
19            Latvia            56.0  01/08/2023
20         Lithuania            57.0  01/08/2023
21        Luxembourg            69.0  01/08/2023
22             Malta             NaN  01/08/2023
23           Moldova             NaN  01/08/2023
24        Montenegro             NaN  01/08/2023
25       Netherlands            69.0  01/08/2023
26   North Macedonia             NaN  01/08/2023
27            Norway            59.0  01/08/2023
28            Poland            92.0  01/08/2023
29          Portugal            10.0  01/08/2023
30           Romania           100.0  01/08/2023
31            Serbia           115.0  01/08/2023
32          Slovakia            98.0  01/08/2023
33          Slovenia            99.0  01/08/2023
34             Spain            10.0  01/08/2023
35            Sweden            39.0  01/08/2023
36       Switzerland           133.0  01/08/2023
37            Turkey             NaN  01/08/2023
38           Ukraine             NaN  01/08/2023
39    United Kingdom             NaN  01/08/2023

In [177]:
#Reorganize them
df1 = df[['date', 'country', 'price(eur/mwh)']]
df1

          date           country  price(eur/mwh)
0   01/08/2023           Albania             NaN
1   01/08/2023           Austria           112.0
2   01/08/2023           Belgium            68.0
3   01/08/2023  Bosnia and Herz.             NaN
4   01/08/2023          Bulgaria           100.0
5   01/08/2023           Croatia           100.0
6   01/08/2023            Cyprus             NaN
7   01/08/2023        Czech Rep.            89.0
8   01/08/2023           Denmark            58.0
9   01/08/2023           Estonia            56.0
10  01/08/2023           Finland            39.0
11  01/08/2023            France            68.0
12  01/08/2023           Georgia             NaN
13  01/08/2023           Germany            69.0
14  01/08/2023            Greece           218.0
15  01/08/2023           Hungary           102.0
16  01/08/2023           Ireland           100.0
17  01/08/2023             Italy           164.0
18  01/08/2023            Kosovo             NaN
19  01/08/2023            Latvia            56.0
20  01/08/2023         Lithuania            57.0
21  01/08/2023        Luxembourg            69.0
22  01/08/2023             Malta             NaN
23  01/08/2023           Moldova             NaN
24  01/08/2023        Montenegro             NaN
25  01/08/2023       Netherlands            69.0
26  01/08/2023   North Macedonia             NaN
27  01/08/2023            Norway            59.0
28  01/08/2023            Poland            92.0
29  01/08/2023          Portugal            10.0
30  01/08/2023           Romania           100.0
31  01/08/2023            Serbia           115.0
32  01/08/2023          Slovakia            98.0
33  01/08/2023          Slovenia            99.0
34  01/08/2023             Spain            10.0
35  01/08/2023            Sweden            39.0
36  01/08/2023       Switzerland           133.0
37  01/08/2023            Turkey             NaN
38  01/08/2023           Ukraine             NaN
39  01/08/2023    United Kingdom             NaN

In [178]:
df1.to_csv("data/prices_long.csv", mode='a', index=True, header=False)

In [179]:
df2 = df1.pivot_table(index = 'date', columns = 'country', values = 'price(eur/mwh)', aggfunc = np.mean, dropna=False)
df2

country,Albania,Austria,Belgium,Bosnia and Herz.,Bulgaria,Croatia,Cyprus,Czech Rep.,Denmark,Estonia,...,Romania,Serbia,Slovakia,Slovenia,Spain,Sweden,Switzerland,Turkey,Ukraine,United Kingdom
date,,,,,,,,,,,,,,,,,,,,,
01/08/2023,NaN,112.0,68.0,NaN,100.0,100.0,NaN,89.0,58.0,56.0,...,100.0,115.0,98.0,99.0,10.0,39.0,133.0,NaN,NaN,NaN

In [180]:
df2.to_csv("data/price_wide.csv", mode ='a', index=True, header=False)

### Prepare the hourly data for datawrapper
This includes removing the countries where there are no data and deleting columns that will not be used for visualization.

In [181]:
df = pd.read_csv("data/europaenergy_today.csv")
df

,date,country,area,mtu,price(currency/mwh),price(eur/mwh)
0,01/08/2023,Albania,BZN AL,00:00 - 01:00,NaN,NaN
1,01/08/2023,Albania,BZN AL,01:00 - 02:00,NaN,NaN
2,01/08/2023,Albania,BZN AL,02:00 - 03:00,NaN,NaN
3,01/08/2023,Albania,BZN AL,03:00 - 04:00,NaN,NaN
4,01/08/2023,Albania,BZN AL,04:00 - 05:00,NaN,NaN
...,...,...,...,...,...,...
1891,01/08/2023,United Kingdom,BZN GB(IFA2),19:00 - 20:00,NaN,NaN
1892,01/08/2023,United Kingdom,BZN GB(IFA2),20:00 - 21:00,NaN,NaN
1893,01/08/2023,United Kingdom,BZN GB(IFA2),21:00 - 22:00,NaN,NaN
1894,01/08/2023,United Kingdom,BZN GB(IFA2),22:00 - 23:00,NaN,NaN
1895,01/08/2023,United Kingdom,BZN GB(IFA2),23:00 - 00:00,NaN,NaN

In [182]:
# Remove the column with local currency â€“ we want all data to be in euros
df = df.drop(['price(currency/mwh)'], axis=1)

# Remove the area column. That won't be used in the visualization
df = df.drop(['area'], axis=1)

# And the same with the date
df = df.drop(['date'], axis=1)

df = df.dropna(subset=['price(eur/mwh)'])
df

          country            mtu  price(eur/mwh)
24        Austria  00:00 - 01:00          115.01
25        Austria  01:00 - 02:00          114.05
26        Austria  02:00 - 03:00           99.97
27        Austria  03:00 - 04:00           80.01
28        Austria  04:00 - 05:00           99.91
...           ...            ...             ...
1675  Switzerland  19:00 - 20:00          155.20
1676  Switzerland  20:00 - 21:00          141.33
1677  Switzerland  21:00 - 22:00          143.66
1678  Switzerland  22:00 - 23:00          131.80
1679  Switzerland  23:00 - 00:00          113.30

[1080 rows x 3 columns]

In [183]:
df = df.pivot_table(index = 'mtu', columns = 'country', values = 'price(eur/mwh)', aggfunc = np.mean, dropna=True)
df

country,Austria,Belgium,Bulgaria,Croatia,Czech Rep.,Denmark,Estonia,Finland,France,Germany,...,Norway,Poland,Portugal,Romania,Serbia,Slovakia,Slovenia,Spain,Sweden,Switzerland
mtu,,,,,,,,,,,,,,,,,,,,,
00:00 - 01:00,115.01,11.40,91.01,87.40,57.66,17.685,24.44,24.44,13.21,10.93,...,25.365000,85.62,7.00,91.01,100.93,80.74,84.48,7.00,24.44,141.59
01:00 - 02:00,114.05,8.79,86.24,87.68,58.82,9.185,52.50,9.30,10.44,9.07,...,20.268333,76.05,5.00,86.24,90.03,79.34,87.09,5.00,9.30,127.40
02:00 - 03:00,99.97,8.85,74.56,75.31,51.71,9.100,46.16,9.10,10.26,9.10,...,15.245000,69.19,4.20,74.56,86.15,68.95,74.14,4.20,9.10,113.94
03:00 - 04:00,80.01,3.14,60.03,59.51,39.15,4.160,34.41,4.16,4.16,4.16,...,12.705000,67.02,4.16,60.03,86.09,53.34,58.55,4.16,4.16,114.05
04:00 - 05:00,99.91,-1.45,76.18,74.63,50.25,5.580,44.38,5.58,4.16,5.58,...,10.581667,68.38,4.16,76.18,69.79,68.08,72.82,4.16,5.58,110.00
05:00 - 06:00,105.53,4.09,71.11,71.29,49.78,9.920,9.92,9.92,4.16,9.92,...,15.905000,69.52,4.16,71.11,85.08,66.02,69.67,4.16,9.92,113.74
06:00 - 07:00,107.02,8.11,79.06,78.94,55.40,9.020,49.71,9.02,10.63,9.02,...,19.083333,74.91,4.16,79.06,95.00,73.89,77.09,4.16,9.02,118.62
07:00 - 08:00,115.01,13.58,88.18,87.27,62.86,16.470,57.67,16.47,16.47,16.47,...,23.773333,82.59,4.16,88.18,93.65,82.18,85.05,4.16,16.47,125.45
08:00 - 09:00,112.09,50.00,94.20,94.14,79.01,38.250,75.53,27.08,51.04,49.42,...,43.263333,84.34,4.16,94.20,118.56,90.92,92.98,4.16,27.08,125.49
09:00 - 10:00,114.04,82.57,105.12,105.09,97.55,55.940,95.76,29.08,83.31,82.80,...,64.293333,95.76,5.00,105.12,125.70,103.49,104.49,5.00,29.08,143.95
10:00 - 11:00,112.04,93.78,106.30,106.32,102.40,64.460,98.53,35.22,93.99,93.70,...,73.865000,98.53,5.10,106.30,131.82,105.62,105.97,5.10,35.22,142.50
11:00 - 12:00,103.87,103.87,103.87,103.87,103.87,87.030,47.00,47.00,103.87,103.87,...,80.390000,102.04,5.05,103.87,122.18,103.87,103.87,5.05,47.00,141.96
12:00 - 13:00,101.69,101.69,101.69,101.69,101.69,75.385,47.00,47.00,101.69,101.69,...,80.696667,99.86,4.90,101.69,115.52,101.69,101.69,4.90,47.00,141.14
13:00 - 14:00,99.00,99.00,99.00,99.00,99.00,82.065,48.96,48.96,99.00,99.00,...,80.116667,98.29,5.00,99.00,101.82,99.00,99.00,5.00,48.96,127.44
14:00 - 15:00,104.29,104.29,104.29,104.29,104.29,83.240,54.91,54.91,104.29,104.29,...,83.758333,98.85,4.60,104.29,120.09,104.29,104.29,4.60,54.91,126.62
15:00 - 16:00,112.01,100.00,109.82,109.56,107.91,83.565,63.49,63.49,97.89,103.64,...,85.228333,100.57,4.20,109.82,140.07,109.55,109.20,4.20,63.49,133.98
16:00 - 17:00,143.32,100.89,133.96,133.34,125.60,97.700,66.11,66.11,96.20,109.11,...,89.971667,106.85,4.60,133.96,158.36,132.47,132.26,4.60,66.11,146.08
17:00 - 18:00,151.96,116.00,142.63,142.47,133.98,118.040,69.19,69.19,115.64,118.04,...,95.388333,108.47,7.10,142.63,162.88,140.87,141.74,7.10,69.19,158.20
18:00 - 19:00,134.30,122.55,132.57,131.71,127.83,122.610,69.91,69.91,122.61,122.61,...,95.975000,107.17,17.80,132.57,162.52,130.82,131.16,17.80,69.91,156.00
19:00 - 20:00,133.98,109.32,132.56,129.38,119.68,87.365,65.62,65.62,109.66,109.11,...,90.615000,106.11,24.61,132.56,161.80,127.01,127.68,24.61,65.62,155.20
20:00 - 21:00,138.88,104.23,128.92,128.88,120.00,82.455,60.98,60.98,104.68,103.93,...,86.416667,106.64,40.00,128.92,129.94,127.21,128.24,40.00,60.98,141.33
21:00 - 22:00,115.03,98.60,110.30,110.27,106.05,79.370,57.41,57.41,98.87,98.43,...,81.616667,105.27,40.00,110.30,130.01,109.48,109.98,40.00,57.41,143.66
22:00 - 23:00,101.29,99.34,100.74,100.73,100.24,84.385,50.02,50.02,99.35,99.37,...,79.580000,100.15,21.94,100.74,96.58,100.64,100.69,21.94,50.02,131.80
23:00 - 00:00,81.58,81.29,71.10,81.80,81.35,65.115,46.29,46.29,81.27,81.34,...,67.755000,91.42,15.70,71.10,87.09,81.31,81.58,15.70,46.29,113.30

In [184]:
df.to_csv('data/prices_today_hourly.csv', index=True, header=True)