In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("europaenergy_today.csv")

# Remove all the missing values – countries or regions where we have no data
df = df[df['price(eur/mwh)'].notna()]

# And remove the column with local currency – it is always missing
df = df.drop(['price(currency/mwh)'], axis=1)

In [3]:
df1 = round(df.groupby('country')['price(eur/mwh)'].mean())

In [4]:
df1.columns = ['country', 'price', 'date']
df1

country
Austria            23.0
Belgium            14.0
Bulgaria           18.0
Croatia            17.0
Czech Republic     16.0
Denmark            17.0
Estonia            18.0
Finland            18.0
Germany            15.0
Greece            238.0
Hungary            18.0
Ireland           182.0
Italy             193.0
Latvia             18.0
Lithuania          18.0
Luxembourg         15.0
Netherlands        18.0
Norway             86.0
Poland             45.0
Portugal            7.0
Romania            18.0
Serbia             43.0
Slovakia           18.0
Slovenia           17.0
Spain               7.0
Sweden             18.0
Switzerland         7.0
Name: price(eur/mwh), dtype: float64

In [5]:
df1.to_csv('today_price_long.csv', index=True, header=True)

In [6]:
df = pd.read_csv('today_price_long.csv')
df['date'] = pd.to_datetime('today').strftime("%m/%d/%Y")
df

           country  price(eur/mwh)        date
0          Austria            23.0  01/03/2023
1          Belgium            14.0  01/03/2023
2         Bulgaria            18.0  01/03/2023
3          Croatia            17.0  01/03/2023
4   Czech Republic            16.0  01/03/2023
5          Denmark            17.0  01/03/2023
6          Estonia            18.0  01/03/2023
7          Finland            18.0  01/03/2023
8          Germany            15.0  01/03/2023
9           Greece           238.0  01/03/2023
10         Hungary            18.0  01/03/2023
11         Ireland           182.0  01/03/2023
12           Italy           193.0  01/03/2023
13          Latvia            18.0  01/03/2023
14       Lithuania            18.0  01/03/2023
15      Luxembourg            15.0  01/03/2023
16     Netherlands            18.0  01/03/2023
17          Norway            86.0  01/03/2023
18          Poland            45.0  01/03/2023
19        Portugal             7.0  01/03/2023
20         Romania            18.0  01/03/2023
21          Serbia            43.0  01/03/2023
22        Slovakia            18.0  01/03/2023
23        Slovenia            17.0  01/03/2023
24           Spain             7.0  01/03/2023
25          Sweden            18.0  01/03/2023
26     Switzerland             7.0  01/03/2023

In [7]:
#Reorganize them
df1 = df[['date', 'country', 'price(eur/mwh)']]

In [8]:
df1.to_csv("prices_long.csv", mode='a', index=True, header=False)

In [9]:
df2 = df.pivot_table(index = 'date', columns = 'country', values = 'price(eur/mwh)', aggfunc = np.mean)
df2

country,Austria,Belgium,Bulgaria,Croatia,Czech Republic,Denmark,Estonia,Finland,Germany,Greece,...,Norway,Poland,Portugal,Romania,Serbia,Slovakia,Slovenia,Spain,Sweden,Switzerland
date,,,,,,,,,,,,,,,,,,,,,
01/03/2023,23.0,14.0,18.0,17.0,16.0,17.0,18.0,18.0,15.0,238.0,...,86.0,45.0,7.0,18.0,43.0,18.0,17.0,7.0,18.0,7.0

In [12]:
df2.to_csv("price_wide.csv", mode ='a', index=True, header=False)